.slider-container {
  width: 100%;
  height: 16rem; /* atau sesuai */
  overflow: hidden;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(8px);
}

.slide {
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;        /* PENTING */
  display: block;           /* Hilangkan space default inline-img */
  border-radius: inherit;   /* Ikuti radius container */
}

.slider-track {
  display: flex;
  height: 100%;
  transition: transform 0.4s ease;
}

.slider-item {
  min-width: 100%;
  height: 100%;
}

.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
